.com_fora .panel.categories h3 {
	margin-bottom: 10px;
}

.com_fora .panel.categories h4 {
	padding: 5px 10px 4px 14px;
	margin: 0px;
	font-weight: bold;
	clear: left;
	float: left;
}

.com_fora .panel.categories h4:hover,
.com_fora .panel.categories label {
	cursor: pointer;
}

.com_fora .panel.categories div.forums {
	padding-left: 7px;
	margin: 0px;
	clear: both;
}

.com_fora .panel.categories input,
.com_fora .panel.categories label {
	margin-top: 8px;
	float: left;
}

.com_fora .panel.categories input {
	margin: 9px 5px 0 24px;
	display: list-item;
	float: left;
	clear: left;
}

.com_fora .panel.categories {
	padding-bottom: 14px;
}