<?xml version="1.0" encoding="utf-8"?>
<config>
    <params>
        <param type="spacer" default="Notification" />
        <param name="email_address" type="text" label="From Address" size="100" />
        <param name="email_name" type="text" label="From Name" size="100" />
        <param name="email_subject" type="text" label="Subject" size="100" />
        <param name="email_body_plain" type="textarea" label="Plain Text Body" rows="20" cols="58" />
        <param name="email_body_html" type="textarea" label="HTML Body" rows="20" cols="58" />
    </params>
</config>