/* @group Bootstrap overrides */
h1 {
	font-size: 24px;
}
/* @end group */

.navbar-inner {
	.border-radius(0); /* Bootstrap override */
}

.articles > .article {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid @grayLighter;
}

.sidebar {
	background-color: @body;
	border: 1px solid #DDD;
	.box-sizing(border-box);
	.border-radius(5px);
	
	.module {		
		h3 {
			padding: 0 20px;
			border-bottom: 1px solid #FFF;
			#gradient > .vertical(darken(#E0E0E0, 5%), #E0E0E0);
		}
		
		p {
			margin: 7px 20px;
		}
		
		/* 1st LEVEL */
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-weight: bold;
			li {
				span,
				a {
					display: block;
					padding: 7px 20px 5px 20px;
					border-bottom: 1px solid #FFF;
					text-align: left;
				}
				span {
					border-bottom: 1px solid #F0F0F0;
				}
				a:hover {
					#gradient > .vertical(darken(@5455, 5%), @5455);
				}		
				/* 2th LEVEL */
				ul { 
					li { 
						a {
							padding-left: 40px;
							border-bottom: 0px solid @body;
						}
						/* 3th LEVEL */
						ul {
							li {
								a { 
									padding-left: 60px;
								}
								/* limit to 3 levels */
								ul {
									display: none;
								}
							}
								
						}
					}
					li:last-of-type a {
						border-bottom: 1px solid #FFF;
					}
				}
			}
			li#current  {
				> a {
					#gradient > .vertical(lighten(@orange, 10%), @orange);
					color: #FFF;
				}
				a:hover {
					#gradient > .vertical(lighten(@orange, 10%), @orange);
				}
				ul {
					li a {
						background-color: #EEE;
						background-image: none;
					}
					li a:hover {
						#gradient > .vertical(darken(@5455, 5%), @5455);
					}
				}
			}
			li.parent.active > a {
				border-bottom: 0px none;
			}
		}
	}
}
/* @end group */