.sidebar {	
	.module.mod_dynamic {		
		border: 1px solid #D5D5D5;
		.border-radius(5px);
		background-color: #FFF;
		
		h3 {
			padding: 8px 20px;
			border-bottom: 1px solid #D5D5D5;
			#gradient > .vertical(lighten(@body, 10%), @body);
			.border-radius(5px 5px 0 0);
		}
		
		p {
			margin: 7px 20px;
		}
		
		/* 1st LEVEL */
		> ul {
			margin: 0 0 8px 0;
			padding: 0;
			list-style: none;
			font-weight: bold;
			
			> li {				
				> span,
				> a {
					display: block;
					padding: 4px 20px 4px 20px;
					
					&:hover {
						#gradient > .vertical(darken(@5455, 5%), @5455);
					}
				}
			}
			
			> li.active  {
				> a {
					border: 0 none;
					border-bottom: 1px solid #D5D5D5;
					#gradient > .vertical(lighten(@orange, 10%), @orange);
					color: #FFF;
					
					&:hover {
						#gradient > .vertical(lighten(@orange, 10%), @orange);
					}
				}
			}
		}
		
		.form-actions {
			.border-radius(0 0 5px 5px);
		}
	}
}