html {
	overflow-y: scroll;
}

body {
	background: url(../img/body-bg.png) repeat 0 0;
	margin-left: 20px;
}
#header {
	.clearfix();
	
	padding: 14px 0;
	
	.moduletable {
		margin-top: 10px;
	}
}

.main {
	background-color: white;
	border: 1px solid @borderColor;
	
	.border-radius(5px);
	
	.main-scopebar {
		.clearfix();
		border-bottom: 1px solid @borderColor;
		
		padding: 14px 20px 14px 20px;
	}
	
	.main-component {
		padding: 20px;
	}
	
	.main-sidebar {
		padding: 20px 20px 0 0;
		
		h3 {
			margin-bottom: 6px;
		}
	}
}

.main-sidebar {
	.module {
		margin-bottom: 20px;
	}
}

