#header {
	margin-top: 40px;
	padding: 10px 0;
	#gradient > .vertical(#1f2e81, #3e4da0);
	.box-shadow(hsla(0, 0%, 0%, 0.5) 0px 0px 4px);
	height: 80px;
	img {
		.border-radius(5px);
		.box-shadow(hsla(0, 0%, 0%, 0.5) 0px 0px 6px);
	}
}

#frame {
	padding: 20px 0;
}