html {
	overflow-y: scroll;
}

body {
	background: url(../img/body-bg.png) repeat 0 0
}

#header {
	margin-top: 40px;
	padding: 10px 0;

	height: 80px;
	img {
		.border-radius(5px);
		.box-shadow(hsla(0, 0%, 0%, 0.5) 0px 0px 6px);
	}
}

#frame {
	padding: 20px 0;
	margin-top: 40px;
}