.page-header {
	.clearfix();
	
	padding: 8px 16px;
	margin: 0 0 24px 0;
	
	#gradient > .vertical(#4A515B, #3C4049);
	.border-radius(5px);
	border: 1px solid #49505B;
	
	> h1 {
		float: left;
		font-size: 18px;
		color: @white;
		
		line-height: 28px;
		
		.icon {
			vertical-align: baseline;
			margin-right: 8px;
		}
	}
	
	.moduletable > .breadcrumb {
		float: left;
		margin: 5px 0 0 0;
		padding: 0;
		background: none;
		border: 0 none;
		.box-shadow(none);
		
		li {
			text-shadow: none;
		}
	}
	
	.moduletable > .toolbar {
		float: right;
	}
}

.articles {
	.articles-toolbar {
		text-align: right;
		margin-bottom: 10px;
	}
	
	> .article {
		margin-bottom: 24px;
	}	
}

.article {
	background-color: @white;
	
	border: 1px solid @borderColor;
	.border-radius(5px);
	
	.article-header {		
		.clearfix();		
		padding: 16px 20px 10px 16px;
		
		color: #999;
		font-size: 12px;
		
		border-bottom: 1px solid @borderColor;
		#gradient > .vertical(#FAFAFA, #F3F3F3);
		.border-radius(5px 5px 0 0);
		
		.article-title { color: #555; }
		
		.date {
			float: left;
			width: 46px;
			margin-right: 16px;
			padding: 4px 0;
			
			font-size: 11px;
			text-align: center;
			
			.border-radius(5px);
			border: 1px solid lighten(@borderColor, 5%);
			background-color: lighten(@borderColor, 15%);
		}
	}
	
	.article-text {
		padding: 16px 80px;
	}
	
	.article-attachments {
		padding: 16px 80px;
	}
	
	.article-toolbar {
		margin: 0 0 16px 80px;
	}
}

.event {
	background-color: @white;
	
	border: 1px solid @borderColor;
	.border-radius(5px);
}

.event-form,
.article-form {	
	form {
		margin: 0;
		
		input[name="title"] {
			width: 100%;
			.box-sizing(border-box);
			font-size: @baseFontSize * 2;
			height: @baseLineHeight * 2.75;
			line-height: @baseLineHeight * 2.75;
		}
		
		.editor-container {
			border: 1px solid @borderColor;
			border-bottom: 0 none;
		}
	}
	
	.form-actions {
		margin: 0;
		.border-radius(0 0 5px 5px);
	}
}


.comments {
	background-color: @white;
	.border-radius(0 0 5px 5px);
	
	> .title {
		padding: 4px 16px;
		
		
		border-top: 1px solid @borderColor;
		border-bottom: 1px solid @borderColor;
		#gradient > .vertical(#FAFAFA, #E9E9E9);
	}
	
	.comment-default {
		.clearfix();		
		
		margin: 0 16px;
		padding: 16px 64px 16px 0;
		
		border-bottom: 1px dotted @borderColor;
		
		.comment-avatar {
			width: 46px;
			margin: 0 16px 0 0;
			
			.border-radius(5px);
			border: 1px solid lighten(@borderColor, 5%);
			
			img {
				.border-radius(5px);
			}
		}
		
		.comment-footer {
			color: @grayLight;
			
			form {
				margin-bottom: 0;
			}
		}
	}
	
	.comment-form {
		border: 1px solid @borderColor;
		margin: 16px;
		.border-radius(0 0 5px 5px);
		
		#attachments-attachments-upload {
			padding-left: 16px;
			
			label {
				font-size: 14px;
				font-weight: bold;
				
				margin-top: 8px;
			}
		}
		
		form {
			margin-bottom: 0;

		}
		
		.form-actions {
			margin-bottom: 0;
			.border-radius(0 0 5px 5px);
		}
	}
}

.mod_access_select {
	form {
		margin-bottom: 0;
	}
}

.mod_syndicate {
	margin-top: 4px;
	
	a {
		background: url(../img/icon_rss.png) no-repeat 0 0;
		padding: 1px 0 0 18px;
	}
}

.nav-apps {
	margin-top: 10px;
	
	a {		
		padding-top: 36px;
		margin-bottom: 20px;
		background-repeat: no-repeat;
		background-position: top center;
		
		color: @grayLight;
		
		font-size: 11px;
		text-align: center;
		
		&.item1 { background-image: url("../img/icons/32/home-gray.png"); }
		&.item2 { background-image: url("../img/icons/32/id_card-gray.png"); }
		&.item3 { background-image: url("../img/icons/32/calendar_empty-gray.png"); }
		&.item4 { background-image: url("../img/icons/32/clock-gray.png"); }
	}
	
	a:hover,
	a.active {		
		color: @gray;
		
		&.item1 { background-image: url("../img/icons/32/home.png"); }
		&.item2 { background-image: url("../img/icons/32/id_card.png"); }
		&.item3 { background-image: url("../img/icons/32/calendar_empty.png"); }
		&.item4 { background-image: url("../img/icons/32/clock.png"); }
	}
}

.module-events {
	list-style: none;
	
	margin: 0;
	
	li {
		padding-bottom: 6px;
		margin-bottom: 6px;
		border-bottom: 1px solid lighten(@borderColor, 10%);	
		
		small {
			color: @grayLight;
		}
	}
}